<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Api Practice Fake Ppl Data</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
    <div class="header-container">
        <br>
        <h1>Fake Data API</h1><br>
        <p>This app generates fake data and lets you store or remove it from a database</p>
    </div>
    </header>
    <main>
        <div class="generate-button">
            <button  class="button" id="generate-button" type="button">Generate New User</button>
            <button class="button" type="button" id="clearAll">Clear All</button>
        </div>
        <div class="data-container">
            <div class="data-wrapper">
                <div class="img-container">
                    <img class='myimg' alt='avatar' src=''/>
                </div>
            <div class="db-buttons-container">
                <button type="button"class="button" id="save-button">Save User to DB</button>
                <button type="button" class="button" id="delete-button">Delete User from DB</button>
            </div>
            <div class="params-container">
                <div class="param-box">
                    <div class="param-container">
                        <div class='span-container' id="param-first-name"><span>First Name:</span></div>
                        <div class='span-container-value' id="first-name-value">
                            <span class="firstName"></span>
                        </div>
                    </div>
                </div>
                <div class="param-box">
                    <div class="param-container">
                        <div class='span-container' id="param-race"><span>Race:</span></div>
                        <div class='span-container-value' id="race-value">
                            <span class="race"></span>
                        </div>
                    </div>
                </div>
                <div class="param-box">
                    <div class="param-container">
                        <div class='span-container' id="param-language"><span>Language:</span></div>
                        <div class='span-container-value' id="language-value">
                            <span class="language"></span>
                        </div>
                    </div>
                </div>
                <div class="param-box">
                    <div class="param-container">
                        <div class='span-container' id="param-gender"><span>Gender:</span></div>
                        <div class='span-container-value' id="gender-value">
                            <span class="gender"></span>
                        </div>
                    </div>
                </div>
                <div class="param-box">
                    <div class="param-container" id="param-work">
                        <div class='span-container' id="param-work"><span>Work:</span></div>
                        <div class='span-container-value' id="work-value">
                            <span class="work"w></span>
                        </div>
                    </div>
                </div>
                <div class="param-box">
                    <div class="param-container" >
                        <div class='span-container' id="param-buzzword"><span>Buzzword:</span></div>
                        <div class='span-container-value' id="buzzword-value">
                            <span class="buzzword"></span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <br>  
        <div class="operation-container">
            <div class="log-container">
                <div class="log-wrapper">
                    <h4>Operation Log</h4>
                    <!-- operation missing -->
                    <span></span>
                </div>
            </div>
            <div class="userlist-container">
                <h4>List of saved users</h4>
                <div class="list-container">
                    <ul class="saved-users">
                        <% for(let i=0; i < users.length; i++) {%>
                            <li class="li">
                                <span>#<%= (i + 1) %></span>
                                <span><%= users[i].name %></span>
                            </li>
                        <% } %>
                    </ul>
                  </div>
            </div> 
        </div>
    </main>
    <script src="js/main.js"></script>
</body>
</html>