* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #303841;
    font-family:'Segoe UI', sans-serif;
}

h1, h4, p, span {
    color: #EEEEEE;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-bottom: 2px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #3A4750;
    border: 2px solid #303841;
    position: relative;
}

.button {
    height: auto;
    width: auto;
    background-color: #EEEEEE;
    border: 2px solid #303841;
    margin: 5px;
}

.button:hover {
    background-color: #F6C90E;
    font-weight: 600;
    transition: 0.5s;
}

#generate-button {
    border: none;
    width: 150px;
    height: 30px;
}

.data-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 100px;
    left: 300px;
    width: auto;
    height: 300px;
    background-color: #3A4750;
}

.data-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;
    height: 300px;
    background-color: #3A4750;
}

.img-container {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #3A4750;
    border: 1px solid #303841;
}

.params-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: #3A4750;
    margin-left: 180px;
}

.param-box {
    display: flex;
    width: auto;
    position: relative;
    height: 30px;
    margin: 5px;
    border: 1px solid #EEEEEE;
}

.param-container {
    display: flex;
    align-items: center;
    position: relative;
}

.span-container-value {
    font-weight: bold;
}

.span-container, .span-container-value {
    width: auto;
    height: auto;
    margin-left: 2px;
    margin-right: 2px;
    padding: 1px;
}

.db-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 20px;
    width: 150px;
    height: auto;
    background-color: #3A4750;
    border: 4px solid #303841;
}

.operation-container {
    display: flex;
    position: absolute;
    top: 420px;
    background-color: #EEEEEE;
    border: 4px solid #303841;
    width: 60%;
    height: 300px;
}

.operation-container p {
    display: flex;
    width: auto;
    height: auto;
    background-color: #EEEEEE;
    color: #303841;
    margin: 10px;
}

.myimg {
    width: 150px;
    height: 150px;
}

.log-container {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.log-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 5px;
    width: 200px;
}

.log-container span, .log-container h4 {
    margin: 5px;
}

.userlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.userlist-container h4 {
    width: auto;
    height: auto;
    margin: 5px;
}

.list-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 5px;
}

.saved-users {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    width: 100%;
    height: auto;
}

.saved-users li {
    display: inline;
    position: relative;
    width: auto;
    height: 30px;
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
    color: #EEEEEE
}

.btn {
    width: 100px;
    height: 50px;
    background-color: #EEEEEE;
}

.btn:hover {
    background-color: #F6C90E;
}

/* colors
https://colorhunt.co/palette/3038413a4750f6c90eeeeeee
    darkest #303841
    dark #3A4750
    light #F6C90E
    lightest #EEEEEE
*/